.Terminal {
  box-sizing: border-box;
  height: calc(var(--content-height) - 32px);
  overflow: hidden;
  white-space: pre-wrap;

  color: var(--phosphor-green);
  text-shadow: #0fac;
  background: var(--basic-gray);
  border: 2px outset var(--basic-gray);

  padding: 7px;

  font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
  font-size: 14px;
  line-height: 18px;
  -webkit-font-smoothing: antialiased;
}

.Terminal > .screen {
  box-sizing: border-box;
  height: 100%;
  padding: 12px;
  border: 2px inset var(--basic-gray);
  background: var(--bobby-blue);
  overflow-y: auto;
}

.Terminal .Input {
  padding-top: 1ch;
}

.Terminal .Input input,
.Terminal .Input textarea,
.Terminal .InputForm button {
  box-sizing: border-box;
  background: #000;
  border: none;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  padding: 0.5ch 1ch;
  border-radius: 3px;
}

.Terminal .Input input,
.Terminal .Input textarea {
  width: 100%;
}

.Terminal .Input textarea {
  resize: vertical;
}

.Terminal .InputForm button {
  display: inline-block;
  cursor: pointer;
  margin-top: 1ch;
}

.Terminal .InputForm button:hover,
.Terminal .InputForm button:focus,
.Terminal .Input input:focus,
.Terminal .Input textarea:focus {
  background: #444;
}
