.Backdrop {
  height: 100vh;
  width: 100vw;
  /* min-height:
   * If the window is too small to display the content, the
   * Backdrop overflows its parent and scrollbars are
   * displayed on the parent.
   * I *think* this will make input elements get scrolled
   * into view correctly when the keyboard pops up on iPads.
   */
  min-height: 640px;
  min-width: 1024px;
  position: absolute;
  background: linear-gradient(to bottom, #e8fdbd 10%, #d0e8c0 50%);
}
