.Button {
  font-size: 12px;
  padding: 2px 6px;
  height: 22px;
  box-sizing: border-box;
  color: #000;
  border: 0px solid #000;
  cursor: pointer;
  display: inline-block;
  user-select: none;
  min-width: 54px;
  margin-right: 3px;
  text-align: center;
}

.Button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.Button.selected,
.Button.selected:hover {
  border-bottom-width: 2px;
}
