.Terminal {
  height: 582px;

  overflow: hidden;
  white-space: pre-wrap;

  color: #fd4;
  background: black;
  border: 1px solid #55a;

  padding: 12px;

  font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
  font-size: 16px;
  line-height: 20px;
  -webkit-font-smoothing: antialiased;
}

.Terminal > div {
  box-sizing: border-box;
  border: 1px solid #db8;
  background: #004;
  margin-bottom: 12px;
  padding: 12px;
  overflow-y: auto;
}

.Terminal .logs {
  height: 582px;
}

.Terminal .screen {
  display: none;
}

.Terminal.showScreen .logs {
  height: 72px;
}

.Terminal.showScreen .screen {
  display: block;
  height: 498px;
}
