.Terminal {
  height: 582px;

  overflow: hidden;
  white-space: pre-wrap;

  color: #000;
  background: #d8d2d0;
  border: 2px outset #d8d2d0;

  padding: 12px;

  font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
  font-size: 14px;
  line-height: 18px;
  -webkit-font-smoothing: antialiased;
}

.Terminal > div {
  box-sizing: border-box;
  border: 2px inset #d8d2d0;
  background: #d8d2d0;
  margin-bottom: 12px;
  padding: 12px;
  overflow-y: auto;
}

.Terminal .logs {
  height: 582px;
}

.Terminal .screen {
  display: none;
}

.Terminal.showScreen .logs {
  height: 72px;
}

.Terminal.showScreen .screen {
  display: block;
  height: 498px;
}
