.ErrorPanel, .TestResultsPanel {
  box-sizing: border-box;
  height: calc(640px - 32px);
  padding: 12px;
  font-family: Monaco, Menlo, "Ubuntu Mono", Consolas, source-code-pro, monospace;
  font-size: 16px;
  white-space: pre-wrap;
}

.TestResultsPanel {
  color: #0c8;
  text-shadow: #0fac;
  background: #023;
}

.links {
  position: absolute;
  color: #555;
  top: -20px;
  font-size: 10px;
}

.links a,
.links a:visited {
  color: #226;
  text-decoration: underline;
}
