.Terminal {
  height: 100%;

  overflow: hidden;
  white-space: pre-wrap;

  color: gold;
  background: #004;

  font-family: precision, monospace;
  font-size: 20px;
  line-height: 24px;
  -webkit-font-smoothing: antialiased;
}

.Terminal .logs {
  overflow-y: auto;
  height: 528px;
  background-color: #004;
}

.Terminal .screen {
  height: 0;
  background-color: #000;
}

.Terminal.showScreen .logs {
  height: 72px;
}

.Terminal.showScreen .screen {
  height: 456px;
}

.Terminal .input {
  height: 72px;
  background-color: #303038;
  overflow-y: hidden;
}

.Terminal .line {
  padding-left: 2px;
}
