---
---

@import "{{ site.theme }}";

/**
 * Make syntax highlighting approximate the xcode ace theme
 */
.highlight {
  /* keywords and operators are magenta */
  .k, .kv, .kd, .o {
    font-weight: normal;
    color: #c800a4;
  }

  /* numbers are blue */
  .mi {
    color: #3a00dc;
  }
}

.page-header a {
  /* the "Verse" link to the homepage should not be blue */
  color: #fff
}

/**
 * Allow code in headings to be big and green
 */
.main-content {
  h1, h2, h3, h4, h5, h6 {
    code {
      color: inherit;
      font-size: inherit;
    }
  }
}
